:root {
  --clr-Soft-red: hsl(7, 99%, 70%);
  --clr-Yellow: hsl(51, 100%, 49%);
  --clr-Dark-desaturated-cyan: hsl(167, 40%, 24%);
  --clr-Dark-blue: hsl(198, 62%, 26%);
  --clr-Dark-moderate: hsl(168, 34%, 41%);
  --clr-Very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --clr-Very-dark-grayish-blue: hsl(213, 9%, 39%);
  --clr-Dark-grayish-blue: hsl(232, 10%, 55%);
  --clr-Grayish-blue: hsl(210, 4%, 67%);
  --clr-White: hsl(0, 0%, 100%);
  --clr-font-size: 1.125rem;
  --clr-font-family1: 'Barlow', sans-serif;
  --clr-font-family2: 'Fraunces', serif;
}

* {
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
  font-size: var(--clr-font-size);
  font-family: var(--clr-font-family1);
}

body {
  max-width: 90rem;
  width: 100%;
}

body header {
  height: 49.125rem;
  background-image: url(./images/desktop/image-header.jpg);
  background-position: center;
  background-size: cover;
}

body header .sunnyside {
  color: var(--clr-White) !important;
  font-family: var(--clr-font-family1);
  font-size: 1.6875rem;
}

body header a {
  color: var(--clr-White) !important;
  font-size: 0.875rem;
}

body header .contact {
  font-size: 1rem;
  color: var(--clr-Very-dark-desaturated-blue);
  background-color: var(--clr-White);
}

body header .contact:hover {
  background-color: #6eceff;
  color: var(--clr-White);
}

body header .title {
  font-size: 2.5rem;
  height: 2.5rem;
  width: 36.8rem;
  letter-spacing: 0.6875rem;
  font-family: var(--clr-font-family2);
  color: var(--clr-White);
  -webkit-transform: translate(-50%, -50%) !important;
          transform: translate(-50%, -50%) !important;
  position: relative;
  top: 25%;
  left: 51%;
}

body header .arrow {
  position: relative;
  top: 30%;
  left: 49%;
}

body .section1 .section1-title {
  font-size: 1.8125rem;
  font-family: var(--clr-font-family2);
}

body .section1 .paragrph {
  font-size: 1rem;
}

body .section1 .learn {
  font-size: 0.6875rem;
  z-index: 99;
}

body .section1 .bottom-yellow {
  width: 4.5rem;
  height: 0.4rem;
  background-color: var(--clr-Yellow);
  margin-top: -0.85rem;
  margin-left: -0.3rem;
  border-radius: 0.625rem;
}

body .section1 .bottom-red {
  width: 4.5rem;
  height: 0.4rem;
  background-color: var(--clr-Soft-red);
  margin-top: -0.85rem;
  margin-left: -0.3rem;
  border-radius: 0.625rem;
}

body .section1 .graphic {
  position: relative;
}

body .section1 .graphic-text {
  position: absolute;
  left: 50%;
  top: 80%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

body .section1 .photography {
  position: relative;
}

body .section1 .photography-text {
  position: absolute;
  left: 50%;
  top: 80%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

body .section1 .graphic-h2 {
  font-family: var(--clr-font-family2);
  font-size: 1.8125rem;
  color: var(--clr-Dark-desaturated-cyan);
}

body .section1 .graphic-paragraphy {
  font-size: 0.8125rem;
  color: var(--clr-Dark-desaturated-cyan);
}

body .section1 .photography-h2 {
  font-family: var(--clr-font-family2);
  font-size: 1.8125rem;
  color: var(--clr-Dark-blue);
}

body .section1 .photography-paragraphy {
  font-size: 0.8125rem;
  color: var(--clr-Dark-blue);
}

body .section2 .section2-h1 {
  font-size: 0.875rem;
  font-family: var(--clr-font-family2);
  letter-spacing: 0.3125rem;
  color: var(--clr-Grayish-blue);
}

body .section2 .section2-paragraphy {
  color: var(--clr-Grayish-blue);
  font-size: 0.8125rem;
  font-family: var(--clr-font-family1);
}

body .section2 .section2-title {
  font-family: var(--clr-font-family2);
}

body .section2 .section2-small {
  color: var(--clr-Grayish-blue);
  font-size: 0.625rem;
}

body .footer {
  background-color: var(--clr-Dark-moderate);
}

body .footer .footer-h1 {
  color: var(--clr-Dark-desaturated-cyan);
  font-family: var(--clr-font-family2);
}

body .footer .links {
  color: var(--clr-Dark-desaturated-cyan);
}

body .footer .links:hover {
  color: var(--clr-White);
}
/*# sourceMappingURL=style.css.map */